body {
	background-color: #fff8f1;
}

.start {
	display: block;
	margin: 0 auto;

	padding: 8px 32px;
	margin-top: 8px;

	border-radius: 6px;
	border: 1px solid #e6d0bc;
	background-color: white;
	outline-color: #e6d0bc;
}

.screen {
	width: 400px;
	height: 600px;
	background-color: #f7f1ec;
	background-image: url('./src/static/background.png');
	position: relative;
	margin: 0 auto;
}

.doodler {
	width: 87px;
	height: 85px;
	position: absolute;
	background-image: url('./src/static/doodler.png');
}

.platform {
	width: 85px;
	height: 15px;
	background-image: url('./src/static/platform.png');
	position: absolute;
}
